.flex-container{
    display: flex;
}
.flex-item{
    text-align: center;
}
.flex-justify{
    display: flex;
    justify-content: center;
}
.flex-colomn{
    display: flex;
    flex-direction: column;
}
*{
    box-sizing: border-box;
}
.margin{
    margin: 2em;
}
.border-color{
    border-color: blueviolet;
    border-radius: 0.5ch;
}
.backgroung-color{
    clear:both;
    overflow: hidden;
    color: rgb(80, 165, 137);
    border-radius: 0.5ch;
    background-color: bisque;
}
.button-style{
    padding: 14px, 40px;
    
}