<div>
<!--     <div *ngIf="haveValues">
    <div class="myblock">
        <label>Login</label>
        <input class="myinput" name="login" [(ngModel)]="tempUserLogin">
        <label>Password</label>
        <input class="myinput" name="password" [(ngModel)]="tempUserPassword">
    </div>       
    <div class="myblock">
        <button class="mybutton" (click)="getUserId(tempUserLogin, tempUserPassword)">Авторизация</button>
        <button class="mybutton" (click)="createUser(userCreate)">Новый пользователь</button>
    </div>
    </div> -->
        <div>
            <div name="#todopage" class="myblock">
                <div>
                    <label class="mylabel" for="Case">Что нужно делать</label>
                </div>
                <div>
                    <textarea class="mytextarea" name="Case" [(ngModel)]="item.Case"></textarea>
                </div>
                <div>
                    <label class="mylabel" for="Priority">Приоритет</label>
                </div>
                <div>                    
                    <select class="myinput" type="number" name="Priority" [(ngModel)]="item.Priority">
                        <option value="0">Высокий</option>
                        <option value="1">Средний</option>
                        <option value="2">Низкий</option>
                    </select>
                </div>
            </div>
                    <button class="mybutton" (click)="saveToDo(item)">Сохранить</button>
                    <button class="mybutton" (click)="logToDo()">Log</button>
        </div>
        <div class="myblock">
            <button class="mybutton" (click)="getItems()">Кнопка дай нам список дел</button>
            <button class="mybutton" (click)="logout()">Выйти</button>            
        </div>
        <div class="myblock">
            <dl *ngFor="let item of doListItems">
                <dt>Нужно сделать:</dt>
                <dd>{{item.Case}}</dd>
                <dd [ngClass]="{
                    red: item.Priority == 0,
                    yellow: item.Priority == 1,
                    green: item.Priority == 2
                }">Приоритет: {{item.Priority | priority}}</dd>
                <button (click)="changeToDo(item)" class="mybutton">Изменить</button><button class="mybutton">Сделано!</button>
            </dl>
        </div>        

    </div>