<div>
    
    <div *ngIf="haveValues">
        <label>Login</label>
        <input name="login" [(ngModel)]="tempUserLogin">
        <label>Password</label>
        <input name="password" [(ngModel)]="tempUserPassword">
        <div>
            <button (click)="getUserId(tempUserLogin, tempUserPassword)">Авторизация</button>
        </div>
        <div>
            <button (click)="createUser(userCreate)">Кнопка замути нам нового пользователя</button>
        </div>
    </div>
    <div *ngIf="haveName">
        <button (click)="logout()">Logout</button>
    </div>
    <div *ngIf="haveName">
        <div>
            <button (click)="getItems()">Кнопка дай нам список дел</button>
        </div>
        <div>
            <dl *ngFor="let item of doListItems">
                <dt>Нужно сделать:</dt>
                <dd>{{item.Case}}</dd>
                <dd>Приоритет: {{item.Priority}}</dd>
                <button>Изменить</button><button>Сделано!</button>
            </dl>
        </div>
        <div class="flex-container flex-justify background-color">
            <div class="flex-justify">
                <div class="flex-colomn margin">
                    <label class="flex-justify" for="Case">Message</label>
                    <input class="border-color" type="text" name="Case" [(ngModel)]="item.Case">
                </div>
                <div class="flex-colomn margin">
                    <label class="flex-justify" for="Priority">Priority</label>
                    <input class="border-color" type="number" name="Priority" [(ngModel)]="item.Priority">
                </div>
            </div>
        </div>
        <div class="flex-container flex-justify">
            <div class="margin">
                <button class="flex-item border-color button-style" (click)="saveToDo(item)">Save</button>
            </div>
            <div class="margin">
                <button class="flex-item border-color button-style" (click)="logToDo()">Log</button>
            </div>
        </div>

    </div>
</div>